* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 25px;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
}

nav ul li a:hover{
  color: red;
  transition: .5s;
}

.content {
  top: 5%;
  margin-left: 3.5%;
  transform: translateY(50%);
  color: aliceblue;
  line-height: 65px;
  position: relative;
} 

.container {
  width: 100vw;
  min-height: 500px;
  padding: 0;
  background-image: url(./images/marvel-logo.jpg);
  background-position: center;
  background-size: cover;
  display: felx;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: gray;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

.character-display-page {
  text-align: center;
  font-size: 50px;
}

.character-name {
  font-size: 200px;
  color: rgb(155, 7, 7);
}

.character-description {
  font-size: 75px;
  color: rgb(155, 7, 7);
}

.hero-image {
  min-width: 500px;
}